@charset "UTF-8";

body {
  background-color: #FFFFCC;
}
.otsikko {
	overflow: hidden;
	padding: 20px 10px;
}
.otsikko img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	width: 10%;
}
.aukioloajat {
	font-family: Georgia; 
	font-style: italic; 
	font-size:18px;
	margin-left: 220px
}
h1 {
  color: black;
  text-align: center;
  font-size: 50px;
}
h2 {

	margin: 0 12%;
	letter-spacing: .1em;
	font-size: 40px;
}
h3	{
	margin: 0 2%;
	font-family:serif;
	font-weight:normal;
	float: left;
	font-size: 18px;
}
h4	{
	margin: 0 10%;
	font-family:serif;
	font-weight:normal;
	font-size:20px;
}
p {
  font-family: verdana;
  font-size: 20px;
}

  a {
	font-size: 20px;
}

.navigaatio {
	position: fixed;
	top: 0;
	margin: 0;
	width: 100%;
}

.navigaatio ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #6F4E37;
}

.navigaatio li {
	float: left;
}

.navigaatio li a:hover, .dropdown-content a:hover, .dropdown:hover{
	background-color: #795841;
}

.active {
	background-color: #65442D;
}

.navigaatio li a, .dropbtn {
  display: block;
  color: #FFFFCC;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #6F4E37;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
  float: right;
}


@media only screen and (max-width: 600px) {
	body {
	  background-color: #FFFFCC;
	}
  }

  @media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}


@media screen and (max-width: 768px) {
    #primary { width:100%; }
	#secondary { width:100%; margin:0; border:none; }
	
	@media (min-device-width:600px) {
		img[data-src-600px] {
			content: attr(data-src-600px, url);
		}
	}
	
	@media (min-device-width:800px) {
		img[data-src-800px] {
			content: attr(data-src-800px, url);
		}
	}
}

  img {
	width: 100%;
	height: auto;
	max-width:500px
  }
  
  
  
  
  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  margin-left: 30px;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}


