@charset "UTF-8";

body {
  background-color: lightblue;
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
.navigaatio {
	float: left;
	width: 50px;
	height: auto;
	border-radius: 10px;
	background-color: #9ACD32;
	padding: 20px;
	margin-left: 50px
}

