@charset "UTF-8";

body {
  background-color: lightblue;
}

.otsikko {
	overflow: hidden;
	padding: 20px 10px;
}

.otsikko img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10%;
}

h1 {
  color: black;
  text-align: center;
}
h2 {
	font-size: 20px;
	margin: 0 12%;
	letter-spacing: .1em;
}
h3	{
	margin: 0 2%;
	font-family:serif;
	font-weight:normal;
	float: left;
}
h4	{
	margin: 0 10%;
	font-family:serif;
	font-weight:normal;
	font-size:20px;
}

p {
  font-family: verdana;
  font-size: 20px;
}
.navigaatio {
	float: left;
	width: 100px;
	height: auto;
	border-radius: 10px;
	background-color: #9ACD32;
	padding: 20px;
	margin-left: 50px
}
.aukioloajat {
	font-family: Georgia; 
	font-style: italic; 
	font-size:18px;
	margin-left: 220px

